<h1><%= title %></h1>

<% if (notice && notice.length) { %>
  <div class="notice" role="status">
    <p><%= notice[0] %></p>
  </div>
<% } %>

<% if (errors && errors.length) { %>
  <div class="form-errors" role="alert">
    <p>Please correct the following:</p>
    <ul>
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  </div>
<% } %>

<div class="form-card">
  <h2>Update Account Information</h2>
  <form action="/account/update" method="post">
    <input type="hidden" name="account_id" value="<%= account_id %>">

    <label for="account_firstname">First Name</label>
    <input
      type="text"
      id="account_firstname"
      name="account_firstname"
      required
      minlength="1"
      maxlength="50"
      value="<%= account_firstname %>"
    >

    <label for="account_lastname">Last Name</label>
    <input
      type="text"
      id="account_lastname"
      name="account_lastname"
      required
      minlength="2"
      maxlength="50"
      value="<%= account_lastname %>"
    >

    <label for="account_email">Email Address</label>
    <input
      type="email"
      id="account_email"
      name="account_email"
      required
      maxlength="100"
      value="<%= account_email %>"
    >

    <button type="submit" class="btn">Update Information</button>
  </form>
</div>

<div class="form-card">
  <h2>Change Password</h2>
  <form action="/account/update-password" method="post">
    <input type="hidden" name="account_id" value="<%= account_id %>">

    <label for="account_password">New Password</label>
    <input
      type="password"
      id="account_password"
      name="account_password"
      required
      minlength="12"
      pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*(),.?&quot;:{}|&lt;&gt;])[A-Za-z\d!@#$%^&*(),.?&quot;:{}|&lt;&gt;]{12,}$"
      placeholder="Enter new password"
    >
    <p class="form-help">Entering a password will change your current password. Password must be at least 12 characters and contain at least 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.</p>

    <button type="submit" class="btn">Change Password</button>
  </form>
</div>
